THEORY QUESTIONS

1. What are data structures and why aare they important ?

ans- They are organized ways to store and manage data efficienty , enabling access and modification. They are important as they allow data procesing , crucial for building scalable and high performance software appliction.

2. Explain difference between mutable and immutable data types .

ans- Mutable datatype can be modified fter creation , example being lists , dictionaries nd sets whereas immutable datatype cannot be chaanged , example being strings,tuples.

3. What are tha main differences between list and tuples in python?

ans- Lists are mutable and defined with [] square brackets whereas tuples are immutable and are defined with ()parantheses . In list collection of items can be changed contrary to tuple where it is fixed

4. Describe how dictionaries store data.

ans - Dictionaries store data as key value pairs where each key maps to a specific value . They are unordered collections used for quick retrieval of values based on their keys .

5. Why might you use a set instead of list in python?

ans  We might use a set instead of list when it is needed to store colectio of unique items and operations like union , intersection or difference. Sets automatically handle duplicate removal .

6. What is string in python and how is it different from list ?

ans- String is an immutable sequence of characters , they are specifically for texts and cant be changed after creation . Lists are mutable and can contain items of different data types.

7. How do tuples ensure data integrity in python?

ans - Tuples are immutable , which prevents accidental modification of elements after creation , making them suitable for data which should not be changed .

8. What is hash table , and how does it relate to dictionaries in python?

ans- Hash table is a data structure that maps keys to values using hash function , dictionaries are implemented using these as they allow fast average time case complexity for operations like insertion , deletion and lookup.

9. Can lists contain different datatypes in python?

ans - Yes , lists can contain elements of different data types such as integer , string , floats , etc

10. Explain why strings are immutable in python?

ans - String are immutable because this allows optimizations like string interning , makes them safe to be used as dictionary keys and simplifies program as cant be modified .

11. What advantage do dictionaries offer over lists for certain tasks?

ans - Dictionaries offer advantage when weneed to retrieve data based on specific key rather than index , provides faster lookups and more meaningful data organization for associative data .

12. Describe scenario where using tuple will be preferred over a list .

ans - When representing fixed collection of data such as latitudes , logitudes or a date , where values cant change , tuple woule be preferred over list .

13. How do sets handle duplicate values in python?

ans - Sets store only one instance of each unique element . It ignores duplicate value .

14. How does "in"keyword works different for lists and dictionaries?

ans - For lists , the "in" keyword checksfor presence of value among the list elements , for dictionaries the "in" keyword check for presence of key among other keys .

15. Can you modify elements of tuple ? Explain why or why not,

ans - No you cannot modify elements of tuple directly as they are immutable , once created their contents cant be changed .

16. What is nested dictionary , give example of its use case.

ans - A nested dictionary is dictionary where values are themselves dictionaries . An example is storing imformation about multiple users where each user data is stored in separate nested dictionary within main dictionary .

17. Describe time complexity of accessing elemnts in a dictionary.

ans - The average case time is O(1)(constant time) due to use of hash tables , In worst case due to has coliision it can degrade to O(n)(linear time) but this is rare.

18. In what situations are lists preferred over dictionaries ?

ans - Lists are considered when order of elements are important , when you need to store collection of items that mght contain duplicates , or when you need to access elements by their indexes .

19 . Why are dictionaris considered unordered and how does it affect data retrieval ?

ans - Dictionaries are considered unordered as they do not maintain insertion order , this means order in which items are stroed and retrieved is not guranteed to be the same as order in which they are added , which affects data retrieval if we rely on positional indexing or expect a specific sequence.

20. Explain difference between list and dictionary in terms of data retrieval .

ans - In lists , data retrieval is done by indexing , It meaintains orders of elements so retrieval is sequential , searching reuires iterating through the list , which is less efficient for larger lists .

In dictionaries , data retrieval is done using keys , they are optimized for fast lookups making them efficient for retrieval of specific data , they dont rely on numerical indexing .

PRACTICAL QUESTIONS

In [2]:
# Create string with your name and print on it .

name = "Sagarika_Singh"
print(name)

Sagarika_Singh

In [3]:
#Find length of the string "Hello World"

s="Hello World"
length=len(s)
print (length)

11

In [4]:
#Slice the first 3 characters from the string "Python programming"

s="Python programming"
sliced_string=s[:3]
print(sliced_string)

Pyt

In [6]:
#Convert string "hello"to uppercase

s="hello"
uppercase_s=s.upper()
print(uppercase_s)

HELLO

In [7]:
#Replace word "apple" with "orange"in the string "I like apple".

s= "I like apple"
new_s=s.replace("apple", "orange")
print(new_s)

I like orange

In [10]:
#Create list with numbers 1 to 5 and print it .

my_list =[1,2,3,4,5]
print (my_list)

[1, 2, 3, 4, 5]

In [12]:
#Append number 10 to the list .

my_list=[1,2,3,4,5]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 5, 10]

In [13]:
#Remove number 3 from the list

my_list=[1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [15]:
#Access second element in the list ['a', 'b','c','d']

my_list = ['a','b','c','d']
second_element=my_list[1]
print(second_element)

b

In [16]:
#Reverse the list

my_list = [10,20,30,40,50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [17]:
# Write a code to create a tuple with elements 100,200 ,300 and print it .

tuple=(100,200,300)
print(tuple)

(100, 200, 300)

In [20]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors=('red','green','blue','yellow')
second_to_last=colors[-2]
print(second_to_last)

blue

In [21]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15).

number=(10,20,5,15)
min_number=min(number)
print(min_number)

5

In [23]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals=('dog', 'cat', 'rabbit')
cat_index=animals.index('cat')
print(cat_index)

1

In [25]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

fruit=("apple","banana","orange")
is_kiwi_present="kiwi"in fruit
print(is_kiwi_present)

False

In [53]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set_elements=('a','b','c')
print(my_set_elements)

('a', 'b', 'c')

In [27]:
#. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set={1, 2, 3, 4, 5}
set.clear()
print(set)

set()

In [28]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.

set= {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

In [29]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1={1,2,3}
set2={3,4,5}
union=set1.union(set2)
print(union)

{1, 2, 3, 4, 5}

In [30]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1={1,2,3}
set2={2,3,4}
intersection=set1.intersection(set2)
print(intersection)

{2, 3}

In [31]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict={"name":"Sagarika","age":24,"city":"New delhi"}
print(my_dict)

{'name': 'Sagarika', 'age': 24, 'city': 'New delhi'}

In [33]:
#. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

my_dict={'name':'John','age':25}
my_dict['country']='USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [37]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

In [35]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [39]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

my_dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [40]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 7, "b": 8, "c": 9}

print("My List:", my_list)
print("My Tuple:", my_tuple)
print("My Dictionary:", my_dict)

My List: [1, 2, 3]
My Tuple: (4, 5, 6)
My Dictionary: {'a': 7, 'b': 8, 'c': 9}

In [42]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print theresult.(replaced)

import random
random=[random.randint(1,100) for _ in range(5)]
random.sort()
print(random)

[22, 57, 62, 96, 96]

In [57]:
# Write a code to create a list with strings and print the element at the third index.

my_string_list=["apple", "banana","cherry","date"]
print(my_string_list[2])

cherry

In [45]:
#Write a code to combine two dictionaries into one and print the result.

dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# Write a code to convert a list of strings into a set.

string_list = ["apple", "banana", "cherry", "apple", "banana"]
string_set = set(string_list)
print("Original list:", string_list)
print("Converted set:", string_set)